streamlit==1.32.2
langchain==0.1.13
langchain-openai==0.1.1
langchain-community==0.0.29
langchain-chroma==0.1.0
langchain-huggingface==0.0.1
sentence-transformers==2.6.1
chromadb==0.4.24
pypdf==4.1.0          # 用于处理 PDF
docx2txt==0.8         # 用于处理 Word